# User-specific stuff:
.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

.DS_Store

*.iml
modules.xml
.idea/misc.xml
*.ipr

.classpath
.project
.settings/
target/
